{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "airbnb",
		"plugin:import/react"
    ],
    "plugins": [
        "react"
    ],
	"parser": "babel-eslint",
	"rules": {
    "strict": 0
	},
	"settings": {
        "import/resolver": {
          "node": {
            "extensions": [".js",".jsx"]
          }
        }
    }
}