.menu_rect {
    position: absolute;
    width: 330px;
    height: 720px;
    left: calc(50% - 330px/2 - 475px);
    top: calc(50% - 720px/2);

    background: #F5F4F4;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);

    font-size: 70;
}

.menu_devider {
    width: 300px;
    left: 50px;
}